<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a404minds.rinki.schule">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="com.daprlabs.aaron.swipedeck"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.a404minds.rinki.schule.SplashActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.a404minds.rinki.schule.MainActivity" android:noHistory="true">
        </activity>
        <activity android:name="com.a404minds.rinki.schule.LoginActivity" android:noHistory="true"/>
        <activity android:name="com.a404minds.rinki.schule.ForgotPasswordActivity" />
        <activity android:name=".ClassListActivity"
            android:label="@string/class_title"/>
        <activity
            android:name="com.a404minds.rinki.schule.StudentListActivity"
            android:label="@string/student_title" />
        <activity
            android:name="com.a404minds.rinki.schule.AttendanceActivity"
            android:label="@string/student_title" />
    </application>

</manifest>